html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: LightGray;
	letter-spacing: 0.03em;
	font-family: 'Roboto', sans-serif;
}

div {
	border: 1px solid Chocolate;
}

.content {
	margin: 0 auto;
	padding: 0px 15px;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	box-sizing: border-box;
}

.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	color: #333333;
	cursor: pointer;
}

.logo {
	height: 70px;
}

.introduction {
	background-image: url(../images/first-background.jpg);
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}

.introduction > .content {
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 15em;
}

.introduction h1 {
	font-size: 3.125rem;
}

.introduction h3 {
	font-size: 1.563rem;
}

button {
	text-shadow: none;
	border-style: none;
	background-color: #f15a29;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	border: 0;
	width: 10%;
	display: inline-block;
	margin: 0 auto;
	font-size: 1.125rem;
}

button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}